{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2022?</h3>
<p />
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px">    <p></p>    <p></p>
<ul>
    <li> Sulla base dei dati dei redditi degli anni precedenti e dopo aver intervistato esperti del settore abbiamo stimato un modello. </li>
    <p />
        <li> Questo modello prevede con quale probabilità ognuna delle variazioni di reddito in figura accadrà nel 2022.</li>
    <p />
</ul>
	    	<img src="{%static 'Fase1/interval.jpg' %}"  align="middle" width="100%" />
<p></p>
</div>
<p></p>
<div class="w3-container border-bottom">
    <p></p>
    <h4>Gli esperti che sono stati consultati sono:</h4>
    <ul>
        <li> Co.Di.Pr.A.</li>
        <p></p>
        <li> Asnacodi Italia</li>
        <p></p>
        <li> Consorzio Melinda Sca</li>
        <p></p>



    </ul>
</div>

{% endblock %}