{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h4> INDICHI DA 1 A 10 QUANTO LE ALLOCAZIONI RISPECCHIANO LA SUA OPINIONE.</h4>
<h5> Ricordi che 1 vuol dire "rispecchia poco accuratamente la mia opinione" e 10 vuol dire "rispecchia molto accuratamente" la mia opinione </h5>
{% endblock %}


{% block content %}


<div class="container">

        	<div class="row" style="padding-left:70%;">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">DOPO AVER ASSEGNATO I PUNTI CLICCARE QUI</span>
             </button>
        		</div>
        	</div>


<link rel="stylesheet" href="{% static "global/empty2.css" %}">
<link rel="stylesheet" href="{% static "global/farmerchoices.css" %}">

<script type="text/javascript" src="{% static "global/farmerchoice_1.js" %}"></script>
<script type="text/javascript" src="{% static "global/farmerchoice_2.js" %}"></script>
<script type="text/javascript" src="{% static "global/farmerchoice_3.js" %}"></script>




<table class="table"  style="width: 50%">
	<tr>
		<td><h4> ALLOCAZIONE 1 </h4></td>
		<td>
	<div style="position:relative; margin:auto; width:90%">
    <span style="position:absolute; min-width:20px;border:1px solid blue">
    <span id="myValue"></span>
    </span>
    <b>1</b><input type="range" name="pref1" id="myRange" max="10" min="1" style="width:80%"><b>10</b>
  </div>
  <script type="text/javascript" charset="utf-8">
var myRange = document.querySelector('#myRange');
var myValue = document.querySelector('#myValue');
var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
var px =  ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

  myValue.parentElement.style.left = px + 'px';
  myValue.parentElement.style.top = myRange.offsetHeight + 'px';
  myValue.innerHTML = myRange.value;

  myRange.oninput =function(){
    let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
    myValue.innerHTML = myRange.value;
    myValue.parentElement.style.left = px + 'px';
  };
  </script>
		</td>

	</tr>
</table>
<div id = "full_div_3" style=" height: 280px;"></div>

<table class="table"  style="width: 50%">
	<tr>
		<td><h4> ALLOCAZIONE 2 </h4></td>
		<td>
	<div style="position:relative; margin:auto; width:90%">
    <span style="position:absolute; min-width:20px;border:1px solid blue">
    <span id="myValue1"></span>
    </span>
    <b>1</b><input type="range" name="pref2" id="myRange1" max="10" min="1"  style="width:80%"><b>10</b>
  </div>
  <script type="text/javascript" charset="utf-8">
var myRange1 = document.querySelector('#myRange1');
var myValue1 = document.querySelector('#myValue1');
var off = myRange1.offsetWidth / (parseInt(myRange1.max) - parseInt(myRange1.min));
var px =  ((myRange1.valueAsNumber - parseInt(myRange1.min)) * off) - (myValue1.offsetParent.offsetWidth / 2);

  myValue1.parentElement.style.left = px + 'px';
  myValue1.parentElement.style.top = myRange1.offsetHeight + 'px';
  myValue1.innerHTML = myRange1.value;

  myRange1.oninput =function(){
    let px = ((myRange1.valueAsNumber - parseInt(myRange1.min)) * off) - (myValue1.offsetWidth / 2);
    myValue1.innerHTML = myRange1.value;
    myValue1.parentElement.style.left = px + 'px';
  };
  </script>
		</td>

	</tr>
</table>
<div id = "full_div_2" style=" height: 280px;" ></div>

<table class="table"  style="width: 50%">
	<tr>
		<td><h4> ALLOCAZIONE 3 </h4></td>
		<td>
	<div style="position:relative; margin:auto; width:90%">
    <span style="position:absolute; min-width:20px;border:1px solid blue">
    <span id="myValue3"></span>
    </span>
    <b>1</b><input type="range" name="pref3" id="myRange3" max="10" min="1" style="width:80%"><b>10</b>
  </div>
  <script type="text/javascript" charset="utf-8">
var myRange3 = document.querySelector('#myRange3');
var myValue3 = document.querySelector('#myValue3');
var off = myRange3.offsetWidth / (parseInt(myRange3.max) - parseInt(myRange3.min));
var px =  ((myRange3.valueAsNumber - parseInt(myRange3.min)) * off) - (myValue3.offsetParent.offsetWidth / 2);

  myValue3.parentElement.style.left = px + 'px';
  myValue3.parentElement.style.top = myRange3.offsetHeight + 'px';
  myValue3.innerHTML = myRange3.value;

  myRange3.oninput =function(){
    let px = ((myRange3.valueAsNumber - parseInt(myRange3.min)) * off) - (myValue3.offsetWidth / 2);
    myValue3.innerHTML = myRange3.value;
    myValue3.parentElement.style.left = px + 'px';
  };
  </script>
		</td>

	</tr>
</table>
<div id = "full_div" style=" height: 280px;" ></div>

{% endblock %}

{% block scripts %}
<script>
let belief_farms = {{beliefs_3|json}};
farmerchoices.mkview(belief_farms, "full_div", results = 1, show_submit = 1);
</script>

<script>
let belief_farm = {{beliefs_2|json}};
farmerchoice.mkview(belief_farm, "full_div_2", results = 1, show_submit = 1);
</script>

<script>
let belief_farmer = {{beliefs|json}};
farmerschoice.mkview(belief_farmer, "full_div_3", results = 1, show_submit = 1);
</script>

{% endblock %}