{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>FASE 1 </h1>
<h3>LE SUE OPINIONI RIGUARDO I FUTURI REDDITI PER ETTARO DA MELE </h3>
<p />

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-right: 90%">
        		<div class="col-md-10">
        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per iniziare lo studio</span>
             </button>
        	</div>
        </div>
{% endblock %}