{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>GLI INTERVALLI</h3>

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px">
	<ul>
    <p></p>
	<li>In questa fase, Le chiediamo di esprimere la sua opinione riguardo la variazione di reddito (tenendo in conisderazione l'inflazione) che si verificherà a fine 2024 rispetto alla media del triennio 2020 – 2022.</li>
	<p></p>
	<li>Questi sono gli intervalli di variazione che Le chiediamo di considerare:</li>
    <p></p>
</ul>
	    	<img src="{%static 'Fase1/interval.jpg' %}"  align="middle" width="100%" />
	</div>
    <p></p>

<p></p>

{% endblock %}