{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3> ESTRAZIONE DELLA ALLOCAZIONE</h3>

{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">    <p></p>
	<img src="{%static 'Fase1/wheel3.jpg' %}"  align="right" />

	<p></p>
	<p>• In base ai punti assegnati verrà costruita una "ruota" come in figura. </p>
	<p></p>
	<p>• Le proporzioni della ruota rispecchiano i punteggi assegnati.</p>
	<p></p>
	<p>• In questo caso sono stati assegnati:</p>
<ul>
	<p></p>
	<li> 3 punti alla <span style="color:#6666ff; font-weight:bold"> “ALLOCAZIONE 1” </span> </li>
	<p></p>
	<li> 3 punti alla  <span style="color:#ffcc00;font-weight:bold"> “ALLOCAZIONE 2”</span> </li>
	<p></p>
	<li> 3 punti alla scelta <span style="color:#66ccff;font-weight:bold"> “ALLOCAZIONE 3”</span></li>
	<p></p>
	</ul>
<p>• La ruota verrà fatta girare ed il Suo guadagno dipenderà dal colore sul quale si fermerà la freccia.</p>
</div>



{% endblock %}
