{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<p></p>
<p></p>
<p> RISCHI PERCEPITI ED OGGETTIVI <p></p>
{% endblock %}
{% block content %}
<p>11. Quali sono state le cause che hanno inciso maggiormente sul prezzo delle mele <b>negli ultimi 3 anni</b>? (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
            <tr style="hover">
            <td scope="row"  colspan="1" >Variazione prezzi di mercato delle mele</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_1"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo carburanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_2"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo fertilizzanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_3"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo energia</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_4"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo manodopera</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_5"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo packaging/imballaggio</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q11_6"> </td>
			</tr>
    </table>
&nbsp;
<p>12. Quali sono le cause che incideranno maggiormente sul prezzo delle mele <b>nei prossimi 3 anni</b>? (Possibile barrare più caselle) </p>
               <table class="table" style="width:100%;">
            <tr style="hover">
            <td scope="row"  colspan="1" >Variazione prezzi di mercato delle mele</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_1"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo carburanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_2"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo fertilizzanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_3"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo energia</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_4"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo manodopera</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_5"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo packaging/imballaggio</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q12_6"> </td>
			</tr>
    </table>
<div>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-center:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}

