{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<p> Le sue caratteristiche generali</p>
{% endblock %}

{% block content %}

{%formfield player.q1 %}
{%formfield player.q2 %}
{%formfield player.q3 %}
{%formfield player.q4 %}
{%formfield player.q5 %}

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
