{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<p></p>
<p></p>
<p> RISCHI PERCEPITI ED OGGETTIVI <p></p>
{% endblock %}
{% block content %}
<p>9. Quali sono i rischi di mercato che hanno inciso sul reddito aziendale (da mele) <b>negli ultimi 3 anni</b>? (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
            <tr style="hover">
            <td scope="row"  colspan="1" >Variazione prezzi di mercato delle mele</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_1"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo carburanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_2"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo fertilizzanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_3"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo energia</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_4"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo manodopera</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_5"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo packaging/imballaggio</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_6"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costi addebitati cooperativa</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_7"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >ariazione costo macchinari</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_8"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione regolamentazioni Europee</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_9"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Altro</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q9_10"> </td>
			</tr>
    </table>
&nbsp;
<p>10. Quali sono i rischi di mercato che hanno inciso sul reddito aziendale (da mele) <b>nei prossimi 3 anni</b>? (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
            <tr style="hover">
            <td scope="row"  colspan="1" >Variazione prezzi di mercato delle mele</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_1"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo carburanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_2"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo fertilizzanti</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_3"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo energia</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_4"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo manodopera</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_5"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo packaging/imballaggio</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_6"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costi addebitati cooperativa</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_7"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione costo macchinari</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_8"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Variazione regolamentazioni Europee</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_9"> </td>
			</tr>
			 <tr style="hover">
            <td scope="row"  colspan="1" >Altro</td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q10_10"> </td>
			</tr>
    </table>
<div>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-center:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}

