{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<p></p>
<p></p>
<p> RISCHI PERCEPITI ED OGGETTIVI <p></p>
{% endblock %}
{% block content %}
<p>6. Quali sono i rischi maggiori che hanno inciso sul reddito aziendale (da mele) negli ultimi 3 anni? (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
            <tr style="hover">
            <td scope="row"  colspan="1" >Rischi di produzione: grandine, gelate tardive, fitopatie </td>
			<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q6_a1"> </td>
			</tr>
            <tr>
			<td scope="row"  colspan="1" >Rischi di mercato: variazioni prezzo di vendita delle mele, aumento prezzi dei fattori di produzione (costo fitosanitari, prezzo conicimi, costo carburanti)</td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q6_a2"> </td>
					</tr>
			<tr>
			<td scope="row"  colspan="1" >Rischi finanziari:accesso ai mutui, mancanza di riserve finanziarie, debiti insoluti</td>
				<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q6_a3"> </td>
				</tr>
			<tr>
			<td scope="row"  colspan="1" >Rischi istituzionali: cambio regolamenti imprevisti (es. regolamentazione dei fitosanitari EU) </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q6_a4"> </td>
				<tr>
			</tr>
			<td scope="row"  colspan="1" >Rischi personali: malattia personale, infortuni sul lavoro, problemi familiari</td>
				<td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q6_a5"> </td>
        </tr>
    </table>
&nbsp;

<div>
<p>7. Negli ultimi 3 anni vi sono stati eventi estremi che hanno avuto un impatto negativo sulla sua produzione?
    (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
        <tr style="background-color: white">
            <th scope="col"  colspan="1" style="text-align:center">  </th>
            <th scope="col"  colspan="7" style="text-align:center"> EVENTO </th>
        </tr>
          <tr style="background-color:#fdc5a1">
            <td scope="col"  colspan="1" style="text-align:center">  </td>
            <td scope="col"  colspan="1" style="text-align:center; "> GRANDINE </td>
            <td scope="col"  colspan="1" style="text-align:center;"> GELO </td>
            <td scope="col"  colspan="1" style="text-align:center;"> FITOPATIA</td>
            <td scope="col"  colspan="1" style="text-align:center;"> VENTO </td>
            <td scope="col"  colspan="1" style="text-align:center;"> ONDATA DI CALORE</td>
            <td scope="col"  colspan="1" style="text-align:center;"> ECCESSO ACQUA</td>
            <td scope="col"  colspan="1" style="text-align:center;"> SICCITÀ</td>

        </tr>
             <tr>
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2020 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_a1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_b1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_c1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_d1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_e1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_f1"> </td>
                 <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_g1"> </td>
        </tr>
            <tr >
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2021 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_a2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_b2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_c2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_d2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_e2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_f2"> </td>
                 <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_g2"> </td>
        </tr>
            <tr >
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2022 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_a3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_b3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_c3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_d3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_e3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_f3"> </td>
                <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q7_g3"> </td>
        </tr>
    </table>
&nbsp;
    <p>8. Secondo Lei quali eventi estremi di natura climatica avranno un impatto negative sulla sua produzione di mele nei prossimi 3 anni?
    (Possibile barrare più caselle) </p>
        <table class="table" style="width:100%;">
        <tr style="background-color: white">
            <th scope="col"  colspan="1" style="text-align:center">  </th>
            <th scope="col"  colspan="7" style="text-align:center"> EVENTO </th>
        </tr>
          <tr style="background-color:#fdc5a1">
            <td scope="col"  colspan="1" style="text-align:center">  </td>
            <td scope="col"  colspan="1" style="text-align:center; "> GRANDINE </td>
            <td scope="col"  colspan="1" style="text-align:center;"> GELO </td>
            <td scope="col"  colspan="1" style="text-align:center;"> FITOPATIA</td>
            <td scope="col"  colspan="1" style="text-align:center;"> VENTO </td>
            <td scope="col"  colspan="1" style="text-align:center;"> ONDATA DI CALORE</td>
            <td scope="col"  colspan="1" style="text-align:center;"> ECCESSO ACQUA</td>
              <td scope="col"  colspan="1" style="text-align:center;"> SICCITÀ</td>

        </tr>
             <tr>
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2023 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_a1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_b1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_c1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_d1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_e1"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_f1"> </td>
            <td scope="col"  colspan="1" style="text-align:center"><input class="form-check-input" type="checkbox" value="True" name="q8_g1"> </td>
        </tr>
            <tr >
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2024 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_a2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_b2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_c2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_d2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_e2"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_f2"> </td>
             <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_g2"> </td>
        </tr>
            <tr >
            <td scope="col"  colspan="1" style="text-align:left"> <b> 2025 </b> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_a3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_b3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_c3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_d3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_e3"> </td>
            <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_f3"> </td>
              <td scope="col"  colspan="1" style="text-align:center">
                <input class="form-check-input" type="checkbox" value="True" name="q8_g3"> </td>
        </tr>
    </table>
&nbsp;

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-center:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}

