{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	<h5>La Fase 1 è stata estratta per il pagamento </h5>
{% endblock %}
{% block content %}
<div class="w3-container border-top ">
	<p></p>
	<p>La scelta usata per il pagamento è la #{{beliefs.pay_round}}. La scelta è mostrata in figura. </p>
	<p>• La variazione di reddito predetta per il 2022 è:
	{% if nw_bin == "1" %} -50% • -41%
	{% elif nw_bin == "2" %} -40% • -31%
	{% elif nw_bin == "3" %} -30% • 21%
	{% elif nw_bin == "4" %} -20% • -11%
	{% elif nw_bin == "5" %} -10% • 0%
		{% elif nw_bin == "6" %} +1% • +10%
		{% elif nw_bin == "7" %} +11% • +20%
		{% elif nw_bin == "8" %} +21% • +30%
		{% elif nw_bin == "9" %} +31% • +40%
		{% elif nw_bin == "10" %} +41% • +50%
	{%endif%}
	<p>• Il pagamento addizionale è pari a: {{ w_amt }} € </p></div>
<div class="container">
        	<div class="row" style="padding-left:75%;">
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>
        	</div>
        </div>

<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<script type="text/javascript" src="{% static "global/farmerchoice.js" %}"></script>


<style>
#decision {
	font-size: x-large;
}
</style>


<div id = "full_div" style="   height: 315px;">
</div>



{% endblock %}

{% block scripts %}

<script>
// Some initial globals

let belief_dat = {{beliefs|json}};
beliefs_ns.mkview(belief_dat, "full_div", results = 1, show_submit = 1);

</script>

{% endblock %}
