{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
{% endblock %}

{% block content %}
<h1 style="text-align:center">FASE 1 </h1>
<h3 style="text-align:center"> ORA PROCEDEREMO CON LE SUE ALLOCAZIONI </h3>
<p/>
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">    <p></p>    <p></p>
<p>Ricordi che: </p>
<ul>
    <li> La sua area a melo è pari a <b>2,23 ettari</b>.</li>
    <p />
    <li> Ha sottoscritto la polizza multirischio Co.Di.Pr.A. Il premio pagato è di <b>4.765 € ad ettaro</b>. </li>
    <p />
	<li> Il valore di mele assicurato è di <b>27.802 € ad ettaro</b>. </li>
    <p />
    <li> I suoi costi (esclusi ammortamenti e costi per il personale) per la produzione sono pari a <b>5.843 € ad ettaro</b>.</li>
</ul>
<h5 style="text-align:center"> I suoi redditi ad ettaro nel triennio 2020 - 2022 e il suo reddito medio</h5>
    <table class="table-bordered" style="width:100%">
        <tr style="background-color:#ffb380">
            <th scope="col"  colspan="1" style="text-align:center">  </th>
            <th scope="col"  colspan="1" style="text-align:center"> 2020 (Produzione 2019) </th>
            <th scope="col"  colspan="1" style="text-align:center"> 2021 (Produzione 2020)</th>
            <th scope="col"  colspan="1" style="text-align:center"> 2022 (Produzione 2021)</th>
            <th scope="col"  colspan="1" style="text-align:center"> MEDIA 2020 - 2022</th>
        </tr>
        <tr style="background-color:#ffe0cc">
            <td scope="col"  colspan="1" style="text-align:center; width: 250px;"> Reddito ad ettaro (Liquidato + Risarcimenti)</td>
            <td style="text-align:center"> 16.179 € ad ettaro</td>
            <td style="text-align:center"> 21.827 € ad ettaro</td>
            <td style="text-align:center"> 23.238 € ad ettaro</td>
            <td style="text-align:center"> 20.415 € ad ettaro</td>
        </tr>
    </table>
    <P></P>
    Per procedere con l'assegnazione dei gettoni clicchi il tasto Avanti
        	<div class="row" style="padding-left:95%;">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
            </div>
</div>

{% endblock %}

