{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2024?</h3>
<p />
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px">    <p></p>    <p></p>
<ul>
    <li> L'esatta variazione rispetto al reddito ad ettaro medio a fine 2024 è difficile da determinare in questo momento.</li>
    <p />
        <li> Ma ci serve un valore per portare a termine lo studio e quantificare i suoi guadagni.</li>
    <p />
</ul>

</div>


{% endblock %}