{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2023?</h3>
<p />
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">
    <p></p>
    <img src="{%static 'Fase1/bag.jpg' %}"  align="right" height="430px" style="padding-right:10%"/>

    <p></p>
<ul>
    <li>Sulla base delle probabilità del modello abbiamo creato un un sacchetto in cui sono presenti 100 biglietti.</li>
    <p />
        <li> Il numero di biglietti rispecchia le probabilità che ognuno di questi eventi accada.</li>
    <p />
    <li>Al termine dello studio, se la Fase 1 sarà estratta per il pagamento, un biglietto verrà estratto per
        determinare quale sarà la variazione di reddito per il 2023.</li>
     <p />
    <li>Le proporzioni del numero di biglietti non vi è rivelato</li>
</ul>
</div>
<p />

{% endblock %}