
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h2>IL FONDO IST MELE </h2>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom">

        <p></p>

    <ul>
        <li>La quota per accedere alla copertura mutualistica annuale del Fondo IST Mele è determinata come segue:</li>
    </ul>
    <table class="table" style="width:40%">
        <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left"> 150 € per ettaro a mele </th>
            <th scope="col"  colspan="1" style="text-align:center"> + </th>
        </tr>
         <tr style="background-color:#ffe0cc">
            <th scope="col"  colspan="1" style="text-align:left"> 0,5% del valore totale assicurato a mele </th>
            <th scope="col"  colspan="1" style="text-align:center"> + </th>
        </tr>
         <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left ma"> 4% del premio assicurativo a mele </th>
            <th scope="col"  colspan="1" style="text-align:center"> + </th>
        </tr>
    </table>
        </ul>
<p></p>


</div>
<p></p>

{% endblock %}
