{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h2>IL FONDO IST MELE </h2>
<h4>COME SI ACCEDE</h4>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px">    <p></p>    <p></p>
    <ul style="text-align: justify">
        <p></p>
            <li>La quota di adesione al Fondo pari a € 10 annuali.</li>
            <p></p>
            <li>Il contributo associativo per la copertura mutualistica la cui entità viene determinata di anno in anno.</li>
            <p></p>
            <li> Al contributo associativo annuale versato dal melicoltore si aggiunge una quota di contribuzione pubblica
            (Comunità Europea) pari al 70% del totale.</li>
            <p></p>
            <li>Quindi per ogni   3 € di quota versata si aggiungono 10 € di contributo pubblico europeo.</li>
      </ul>
</div>
<p></p>

{% endblock %}
