
{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
<h2>IL FONDO IST MELE </h2>
<h4>COME FUNZIONA</h4>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px">    <p></p>    <p></p>
    <ul style="text-align: justify">
        <p></p>
        <li>Il Fondo IST Mele  è un innovativo fondo mutualistico che ha come obiettivo la
            protezione e la stabilizzazione del reddito da mele. </li>
        <p></p>
        <li>Se durante il periodo di adesione si verifica un calo del reddito di almeno il -20% rispetto al reddito medio
            del triennio precedente, il Fondo rimborsa fino al 70% della perdita di reddito.</li>
                <p></p>
        <li>La compensazione si attiva successivamente alla dichiarazione del <b>TRIGGER EVENT</b>.
            La dichiarazione dell’evento attesta che si è verificata una crisi generalizzata su base nazionale, ovvero su base locale, territoriale o
            produttiva, accertata tramite l’analisi di dati ufficiali fiscali, amministrativi,
            produttivi. </li>
                <p></p>
        <li>Il calo di reddito può essere dovuto ad esempio ad una riduzione generale dei prezzi di vendita delle mele.</li>
      </ul>
</div>
<p></p>

{% endblock %}
