{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block title %}
<h3>UN ESEMPIO DI SITUAZIONE SCELTA</h3>
{% endblock %}

{% block content %}

<div class="w3-container border-top border-bottom" style="font-size: 20px">    <p></p>    <p></p>
  <p></p>

<p></p>

    	<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/mpl4.jpg' %}"  align="middle" width="100%"/>

<p></p>
<p>• Il reddito dipende dalla quota € ad ettaro per l'IST.</p>
<p></p>
    <p>• Ad esempio all'intervallo -30% • -20% è associato un reddito di <b> 18.622 € = -25%(REDDITO MEDIO) - COSTO IST + RIMBORSO</b></p>
    <p></p>
</div>






{% endblock %} -->
