{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
{% endblock %}

{% block content %}
<h1 style="text-align:center">FASE 2 </h1>
<h3 style="text-align:center"> ORA PROCEDEREMO CON LE SUE SCELTE </h3>
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom " style="font-size: 22px">    <p></p>    <p></p>
<ul>
<p>Il suo guadagno in questa Fase dipende:</p>
<p></p>
	<li>Dalla situazione di scelta che verrà estratta a sorte al termine dello studio tra le 12 compiute</li>
	<p></p>
	<li>Dalla variazione di reddito nel 2022 rispetto al triennio precedente che verrà estratta a sorte dall'urna. La proporzione dei biglietti ora non vi è rivelata.</li>	<p></p>
</ul>
</div>
<P></P>
<div class="w3-container " style="font-size: 22px">    <p></p>    <p></p>

    Per procedere con l'assegnazione dei gettoni clicchi il tasto Avanti
        	<div class="row" style="padding-left:95%;">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
            </div>
</div>

{% endblock %}

