{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h4> VERIFICHIAMO INSIEME IL FUNZIONAMENTO DELLO STRUMENTO RISPONDENDO AL SEGUENTE QUIZ</h4>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "global/empty1.css" %}">

<div class="w3-container border-top " style="font-size: 22px">
	<p></p>
    <p><b> Assuma che nella situzione 4 ha scelto l'opzione A : ADERIRE ALLA COPERTURA MUTUALISTICA</b></p>
	{%formfields%}
	<div class="container">
        	<div class="row">
        	</div>
        <div class="row" style="padding-right:10%;">
        		<div class="col-md-10">
        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">SCEGLIERE UNA RIPOSTA E CLICCARE QUI</span>
             </button>
        		</div>
        	</div>
        </div>
</div>
<p></p>
	<table class="table-bordered" style="width : 100%;font-size:77%">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col" colspan="5" style="text-align:center">A</th>
            <td scope="col" style="text-align:center; width: 1%"></td>
    <th scope="col" colspan="5"  style="text-align:center">B</th>
  </tr>
</thead>
  <thead>
  <tr>
    <td scope="col"></td>
    <td scope="col" colspan="1" style="text-align:center; width: 5%"> Quota €/ettaro IST </td>
    <th scope="col" colspan="5" style="text-align:center; width : 45%"> ADERIRE ALLA COPERTURA MUTUALISTICA (RIMBORSO 70%) </th>
    <td scope="col" style="text-align:center; width: 1%"></td>
    <th scope="col" colspan="5"  style="text-align:center;width : 45%">NON-ADERIRE ALLA COPERTURA MUTUALISTICA </th>
  </tr>
</thead>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <th colspan="5" scope="col" style="text-align:center;">Variazione  reddito </th>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <th colspan="5" scope="col" style="text-align:center;">Variazione  reddito </th>
</tr>
      <tr> <th colspan="1" scope="col" style="text-align:center;">-{{var1}}% • -{{var11}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> -{{var2}}% • -{{var22}}%</th>
    <th scope="col" colspan="1" style="text-align:center;">-{{var3}}% • {{var33}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var4}}% • +{{var44}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var5}}% • +{{var55}}%</th>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <th colspan="1" scope="col" style="text-align:center;"> -{{var1}}% • -{{var11}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> -{{var2}}% • -{{var22}}%</th>
    <th scope="col" colspan="1" style="text-align:center;">-{{var3}}% • {{var33}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var4}}% • +{{var44}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var5}}% • +{{var55}}%</th>
<tbody>
<!-- Row 1 -->
  <tr>
    <th rowspan="2" scope="row" style="text-align:center">4</th>
    <td rowspan="2" style="text-align:center; horizontal align: middle"> {{ist4}} €</td>
   <td style="text-align:center; background-color:white"> {{s1_a1_4|safe}}€  </td>
    <td style="text-align:center; background-color:#e6e6e6;"> {{s1_a2_4|safe}}€</td>
    <td style="text-align:center;background-color:#e6e6e6 "> {{s1_a3_4|safe}}€  </td>
    <td style="text-align:center;background-color:#e6e6e6"> {{s1_a4_4|safe}}€</td>
    <td style="text-align:center; background-color:#e6e6e6"> {{s1_a5_4|safe}}€  </td>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <td style="text-align:center;background-color:#e6e6e6"> {{s1_b1_1|safe}}€</td>
    <td style="text-align:center;background-color:white"> {{s1_b1_2|safe}}€ </td>
    <td style="text-align:center;background-color:white"> {{s1_b1_3|safe}}€</td>
    <td style="text-align:center;background-color:white"> {{s1_b1_4|safe}}€ </td>
    <td style="text-align:center;background-color:white"> {{s1_b1_5|safe}}€</td>
  </tr>
<tr>
    <td style="text-align:center;background-color:#ccff99 "> +{{diff_a}} </td>
    <td style="text-align:center; background-color:#ffd6cc "> -{{diff_b}}</td>
    <td style="text-align:center; background-color:#ffd6cc"> -{{diff_b}}  </td>
    <td style="text-align:center;background-color:#ffd6cc"> -{{diff_b}}</td>
    <td style="text-align:center;  background-color:#ffd6cc"> -{{diff_b}}  </td>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <td style="text-align:center;background-color:#ffd6cc"> -{{diff_a}}</td>
    <td style="text-align:center;background-color:#ccff99"> +{{diff_b}} </td>
    <td style="text-align:center;background-color:#ccff99"> +{{diff_b}}</td>
    <td style="text-align:center;background-color:#ccff99"> +{{diff_b}} </td>
    <td style="text-align:center;background-color:#ccff99"> +{{diff_b}}</td>
  </tr>
</tbody>
	</table>


</div>



{% endblock %}
