{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
<h2>COME LA SUA SCELTA INCIDE SU I GUADAGNI</h2>
{% endblock %}

{% block content %}
<div class="w3-container border-top ">
    <p></p>
  <h5> Supponiamo che nella situazione 4 avete scelto l'Opzione B </h5>
    &nbsp;
    <ul>
  <li style="font-size:20px">Se la variazione di reddito rispetto la media del triennio 2019-2021 è pari ad -30% • -20%, allora otterrà <b> {{s1_b1_1|safe}} €</b></li>
      &nbsp;
      <p></p>
  <li style="font-size:20px">Se la variazione di reddito rispetto la media del triennio 2019-2021 è pari ad +1% •10%, allora otterrà <b> {{s1_b1_4|safe}} €</b></li>
    <P></P>
</ul>
        	<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/example1b.jpg' %}"  align="middle"/>


</div>

{% endblock %} -->
