{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
<h2>I GUADAGNI</h2>
{% endblock %}

{% block content %}
    	<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">
        <p></p>
    <p><img src="{%static 'Fase2/bag.jpg' %}"  align="right" height="350px"> </p>
      <p>• I suoi guadagni dipendono dalla sua scelta in una delle 12 situazioni.</p>
        <p></p>
      <p>• Una delle situazioni soltanto sarà scelta casualmente da un urna, la quale contiene 12 biglietti numerati.</p>
        <p></p>
      <p>• Il biglietto estratto determinerà quale scelta verrà usata per la quantificazione dei suoi guadagni.</p>
        <p></p>
    </div>

{% endblock %} -->