{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h2>I GUADAGNI</h2>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">
        <p></p>
    <p><img src="{%static 'Fase2/bag2.jpg' %}"  style="padding-right:10%" align="right" height="350px"> </p>
    <p><p>• Ad esempio può essere estratta la Situazione N 4.</p>
        <p></p>

    </div>
    <p></p>

{% endblock %} -->