{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  <h1>  Fine </h1>
{% endblock %}

{% block content %}

<div class="w3-container border-top border-bottom">
	<p></p>
<h1 style="text-align:center"> La ringraziamo per aver preso parte allo studio </h1>
	<p></p>
<h2 style="text-align:center"> La preghiamo di attendere qualche minuto per procedere alla firma delle ricevute.</h2>
	<p></p>
<h2 style="text-align:center"> Nel caso non avesse ancora fornito i propri dati, Le chiediamo gentilmente di prepare la propria carta di identità per completare la registrazione.</h2>
<p></p>
<h2 style="text-align:center"> Verrà chiamato con il nome GIOCATORE NUMERO {{id}}</h2>
</div>

{% endblock %}

