{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Istruzioni" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">

    <div class="instructions" style="font-size: 22px">
        <p>
            {% blocktrans trimmed %}
                Nella prossima pagina Le verrà mostrata una griglia {{ num_rows }}x{{ num_cols }} contenente
                {{ num_boxes }} scatole.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Dovrà raccogliere quante box preferisci. Per fare questo Le basterà cliccare sulle scatole che vuoi
            raccogliere.
            Ciascuna scatola che raccoglierà verrà segnata con il simbolo &#x2713;.
                Per ciascuna box che raccoglierà otterà un compenso aggiuntivo di {{ box_value }}.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            <b>ATTENZIONE </b> Dietro una delle scatole si nasconde 1 bomba che distrugge tutti i compensi aggiuntivi che
            hai raccolto.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Una volta raccolte le scatole che desidera dovrà cliccare sul tasto STOP.
            Se ha raccolto la scatola con la bomba, questa esploderà è i suoi guadagni saranno zero.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Dopo aver raccolto le scatole clicchi sul tasto RIVELA per rivelare il contenuto delle box raccolte.
                Le scatole saranno contrassegnate con un simbolo del 0.10€ oppure con il simbolo della 	&#128163;
            {% endblocktrans %}
        </p>

    </div>

{% endblock %}