
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
<h3>LE SUE SCELTE RIGUARDO IL FONDO IST</h3>
{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom" style="font-size: 22px"><p></p>
    <ul>
        <li>La differenza con la sezione precedente è che siamo in possesso di informazioni rispetto alla possibile
            variazione di reddito nel 2022.</li>
     <p> </p>
        <li>La differenza con la Fase 2 è che ora le proporzioni dell'urna sono a Sua disposizione
    al momento di compiere le scelte tra Opzione A e Opzione B.</li>
   <p></p>
        <p></p>
        <li>La variazione che si realizzerà sarà determinata dall’estrazione da un’urna contenente 100 biglietti.</li>
        <p></p>
        <li>Ogni biglietto riporta una delle 5 possibili variazione di reddito: -30% • -20%, -19% • -10%, -9% • 0%, +1% • +10%, +11% • +20%.</li>
    </ul>
    </div>
<p></p>
{% endblock %}
