{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<p></p>
<p></p>
{% endblock %}
{% block content %}
        	<link rel="stylesheet" href="{% static "global/empty3.css" %}">
<h3>Nelle prossime 5 righe scegli tra Opzione A e Opzione B</h3>
<p></p>
        <table class="table" style="width:70%" >
        <tr style="background-color: white; text-align:center" >
			<td colspan="1" width="80%"> </td>

			<td colspan="1" width="20%"><b> La tua scelta </b></td>
		<tr style="text-align:center">
			<td style="text-align:left;">1) Preferisci <b>OPZIONE A =
			1000 € tra un anno  </b> oppure <b>OPZIONE B = 1010 € tra due anni?</b></td>
    <td  style="font-weight: bold; text-align: center" width="130px">{{ form.time_1}} </td>
		</tr>
		<tr style="text-align:center">
					<td style="text-align:left;">2) Preferisci <b>  OPZIONE A =
			1000 € tra un anno </b> oppure <b>OPZIONE B = 1050 € tra due anni?</b></td>
    <td  style="font-weight: bold; text-align: center" width="130px">{{ form.time_2}} </td>
		</tr>
		<tr style="text-align:center">
					<td style="text-align:left;">3) Preferisci <b> OPZIONE A =
			1000 € tra un anno  </b>oppure <b>OPZIONE B = 1100 € tra due anni?</b></td>
    <td  style="font-weight: bold; text-align: center" width="130px">{{ form.time_3}} </td>
		</tr>
		<tr style="text-align:center">
					<td style="text-align:left;" >4) Preferisci <b> OPZIONE A =
			1000 € tra un anno </b> oppure <b>OPZIONE B = 1200 € tra due anni?</b></td>
    <td  style="font-weight: bold; text-align: center" width="130px">{{ form.time_4}} </td>
		</tr>
			<tr style="text-align:center">
					<td style="text-align:left;" >5) Preferisci<b>  OPZIONE A =
			1000 € tra un anno </b> oppure <b>OPZIONE B = 1400 € tra due anni?</b></td>
    <td  style="font-weight: bold; text-align: center" width="130px">{{ form.time_5}} </td>
		</tr>
</table>
<p></p>
<div></div>
<p></p>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:100%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}


