{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<p></p>
<p></p>
{% endblock %}
{% block content %}
        	<link rel="stylesheet" href="{% static "global/empty3.css" %}">

        <table class="table" style="width:100%">
        <tr style="background-color: white; text-align:center" >
			<td colspan="1" width="30%"> <b> ASSIMMETRIA INFORMATIVA</b> </td>
			<td colspan="1" width="14%"> Totalmente in disaccordo </td>
			<td colspan="1" width="14%"> In disaccordo </td>
			<td colspan="1" width="14%"> Né d'accordo né in disaccordo </td>
			<td colspan="1" width="14%"> D'accordo </td>
			<td colspan="1" width="14%"> Completamente d'accordo </td>
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere più informazioni dei miei colleghi agricoltori riguardo ai rischi di produzione
				(gradinate, gelate tardive) del settore mele</td>
			{% for choice in form.qi1 %}
          	<td style="padding-left:3%">{{ choice }}</td>
          {% endfor %}
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere più informazioni dei miei colleghi agricoltori riguardo ai rischi di mercato
				(variazione costi carburanti, costi fertilizzanti, costi materie prime, costi prodotti fitosanitari) del settore mele</td>
			{% for choice in form.qi2 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere maggiori informazioni dell’assicuratore/intermediario/ compagnia assicurativa
				riguardo ai rischi di produzione per la mia azienda  </td>
			{% for choice in form.qi3 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
			<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere più informazioni del Co.Di.Pr.A. riguardo ai rischi di mercato per la mia azienda </td>
			{% for choice in form.qi4 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
			<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere più informazioni della OP (organizzazioni produttori)   </td>
			{% for choice in form.qi5 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
			<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">. Credo di avere più informazioni della cooperativa/consorzio a cui conferisco le mele  </td>
			{% for choice in form.qi6 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
			<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di avere più informazioni riguardo i prezzi di vendita delle mele rispetto all’intermediario
				assicurativo /broker)  </td>
			{% for choice in form.qi7 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
</table>
<p></p>
<div></div>
<p></p>
<table class="table" style="width:100%">
        <tr style="background-color: white; text-align:center" >
			<td colspan="1" width="30%"> <b> AZZARDO MORALE</b> </td>
			<td colspan="1" width="14%"> Totalmente in disaccordo </td>
			<td colspan="1" width="14%"> In disaccordo </td>
			<td colspan="1" width="14%"> Né d'accordo né in disaccordo </td>
			<td colspan="1" width="14%"> D'accordo </td>
			<td colspan="1" width="14%"> Completamente d'accordo </td>
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Credo di essere meno esposto ai rischi di produzione (gradinate, gelate tardive) dopo essermi assicurato </td>
			{% for choice in form.qh1 %}
          	<td style="padding-left:3%">{{ choice }}</td>
          {% endfor %}
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Dopo essermi assicurato sono meno interessato ad usare strumenti e pratiche di prevenzione
				del rischio (uso di fitofarmaci, uso fertilizzanti, monitoraggio condizione climatiche, ambientali)</td>
			{% for choice in form.qh2 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px; ">Dopo essermi assicurato sono meno interessato ad usare altri strumenti di gestione del
				rischio attivi (reti, anti-brina, pesticidi, prodotti anti-fitopatie</td>
			{% for choice in form.qh3 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
		<tr style="text-align:center">
			<td style="text-align:justify;font-size: 14px">Dopo essermi assicurato sono meno interessato in altri strumenti di gestione del rischio passivi
				(Fondi mutualisitici, strumento stabilizzazione del reddito</td>
			{% for choice in form.qh4 %}
			<td style="padding-left:3%">{{ choice }}</td>{% endfor %}
		</tr>
</table>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-center:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}


