{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<h2>QUESTIONARIO - PARTE 1 </h2>
<p />
<div class="w3-container border-top border-bottom" style="font-size: 22px">
    <p></p>
    <p> In questa Fase le chiediamo di rispondere ad alcune domande riguardo le sue preferenze personali</p>
<ul>
    <li> Sullo schermo compariranno alcune affermazioni e dovrà indicare la sua risposta</li>
    <p />
    <li> Non sono previsti compensi aggiuntivi in questa Fase ma chiediamo di rispondere nel modo più onesto e realistico alle domande proposte</li>
    <p />
</ul>
</div>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-right: 6%">
        		<div class="col-md-10">
        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere con il questionario</span>
             </button>
        	</div>
        </div>
</div>

{% endblock %}

