{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h4> Ad esempio potrebbe essere estratta l'allocazione #3 </h4>

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top " style="font-size: 22px">    <p></p>	<p></p>
			<img src="{%static 'Fase1/wheel2.jpg' %}"  align="right" />
<ul>
	<li>In questo caso l'allocazione #3 verrà usata per determinare il suo guadagno aggiuntivo.</li>
</ul>


</div>
{% endblock %}
