{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>ESTRAZIONE FINALE</h3>
	{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
    <p></p>
<h3 style="text-align:center"> <b> La informiamo che Lei è il giocatore <span style="color:blue;"># {{id}}</span> e non è stato estratto per il pagamento addizionale. </b> </h3>
<p></p>
    <p></p>
</div>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Clicchi qui per procedere</span>
             </button>
        		</div>

        	</div>
        </div>
{% endblock %}
